name: Deploy Catalogue App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            set -e

            echo "===> Entrando al proyecto"
            cd ~/goodmorningshop

            echo "===> Actualizando código"
            git pull origin main

            echo "===> Construyendo y levantando Docker"
            docker compose up -d --build

            echo "===> Limpieza de imágenes viejas"
            docker image prune -f
